<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta itemprop="author" content="{{ site.name }}" />
    <meta itemprop="copyrightHolder" content="{{ site.name }}" />
    <meta itemprop="copyrightYear" content="{{ page.date | date: '%Y' }}" />
    <meta itemprop="datePublished" content="{{ page.date | date: '%F' }}" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title | upcase }}</title>
</head>

<body>
    {% include header.html %}

    <div id="content-wrapper">
    <div class="inner clearfix">
    <section id="main-content">
    <a href="{{ url_base }}{{ page.url }}"><h2>{{ page.title }}</h2></a> 
        <a href="{{ site.github.repository_url }}/edit/{{ site.name }}/{{ page.path }}" title="edit">edit</a>
        <h3>Posted: {{ page.date | date: '%B %d, %Y'}}</h3>


        {{ content }}
    </section>
    </div>
    </div>

    {% include footer.html %}
</body>
</html>
